*{
    z-index: 2;
}

.form_boton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    background: #02253d;
    color: #fff;

  }

  .boton_form{
	background-color: #ffffff;
	padding: 15px;
	
	}

#main-container{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    z-index: 1;
	
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th{
	padding: 13px;
    text-align: center;
    
}

td{
	padding: 10px;
    text-align: center;  
}

thead{
	background-color: #02253d;
	border-bottom: solid 5px #001320;
	color: white;
    text-align: center;

}

tr:nth-child(even){
	background-color: rgb(245, 245, 245);
}

